<div class="center-home">
	<div class="col-xs-12 top">
		<div class="col-xs-1">
	    	<img src="/img/<%= dp %>" class="img-rounded menu-img" style="margin: 0px">
		</div>
		<div class="col-xs-11" style="margin-top: -1px">
			<div class="input-group stylish-input-group1 pull-left">
	            <input type="text" class="form-control tweetbox" placeholder="What&#39;s Happening?">
	            <span class="input-group-addon">
	                <!-- <button type="submit" style="color: #1b95e0;"> -->
	                    <!-- <span class="glyphicon glyphicon-camera"></span> -->
	                    <span class="glyphicon glyphicon-camera" style="position: relative; color: #1b95e0;"><input type="file" class="tweetimage" id="twimage1" ng-model="tweetimage"></span>
	                <!-- </button>   -->
	            </span>
	        </div>
	        <div class="stylish-input-group2" style="display: none;">
	        	<div class="input-group" style="width: 100%;">
	        		<textarea id="tweet" ng-model="tweet" class="tweetarea" ng-keyup="tweetchar()" rows="3" spellcheck="true" placeholder="What&#39;s Happening?">{{ tweet }}</textarea>
	        		<div id="image_preview"><img id="previewing" style="display: none" src="/img/blank_user.png" /></div>
	        	</div>
	        	<div class="bottom-textarea" style="padding-top: 5px">
	            	<!-- <span class="glyphicon glyphicon-camera pull-left" style="color: #1b95e0;; font-size: 24px"></span> -->
	            	<span class="glyphicon glyphicon-camera pull-left" style="position: relative; color: #1b95e0; font-size: 24px"><input type="file" class="tweetimage" id="twimage" ng-model="tweetimage"></span>
	            	<div class="pull-right">
	            		<div class="pull-left" style="color: #66757f; margin: 7px 15px">{{ 140 - tweet.length }}</div>
	            		<div class="tweet tweetsubmitbtn pull-left disabled" ng-click="tweetsubmit();">
				        	<span class="glyphicon glyphicon-leaf"></span>
				        	<span>Tweet</span>
				        </div>
	            	</div>
	            </div>
	        </div>
		</div>
	</div>
</div>

<script>
var file = "";
$(document).ready(function(){
	$(".tweetbox").focus(function(){
		if(file){
			$(".center-home .top").css('height', '210px');
		}else{
			$(".center-home .top").css('height', '155px');
		}
		$(".stylish-input-group1").hide();
		// $(".center-home .top").css('height', '155px');
		$(".stylish-input-group2").show();
		$(".tweetarea").focus();
	});
	$(".tweetarea").blur(function(){
		$(":not(.center-home)").click(function(){
			var chk = $(".tweetarea").val();
			if(chk.length == 0){
				$(".stylish-input-group2").hide();
				$(".stylish-input-group1").show();
				$(".center-home .top").css('height', '55px');
			}
		});
	});
	$(".tweetimage").change(function() {
		file = this.files[0];
		var reader = new FileReader();
		reader.onload = imageIsLoaded;
		reader.readAsDataURL(this.files[0]);
		$(".stylish-input-group1").hide();
		$(".center-home .top").css('height', '210px');
		$(".stylish-input-group2").show();
		$(".tweetarea").focus();
	});
	function imageIsLoaded(e) {
		$("#file").css("color","green");
		$('#previewing').css("display", "block");
		$('#previewing').attr('src', e.target.result);
		$('#previewing').attr('width', '60px');
		$('#previewing').attr('height', '60px');
	};

});
</script>