<!DOCTYPE html>
<html>
  <head>
    <title><%= fname.toUpperCase() %> <%= lname.toUpperCase() %></title>
    <% include head.ejs %>
  </head>
  <body  ng-app="twitter" ng-controller="twitter">
  	<% include header-home.ejs %>
  	
  	<div class="container" style="margin-top: 10px">
  		<div class="row">
  			<div class="col-lg-3 left-panel">
  				<% include left-home.ejs %>
  			</div>
  			<div class="col-lg-6">
  				<% include center-tweet.ejs %>
  				<% include center-home.ejs %>
  			</div>
  			<div class="col-lg-9">
  				<% include right-home.ejs %>
  			</div>
  		</div>
  	</div>
  	
  	
    <% include foot.ejs %>
  </body>
</html>