<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <% include head.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<% include header.ejs %>
  	
  	<div class="container" style="margin-top: 20px">
  		<div class="row">
  			<div class="col-lg-offset-9 col-lg-3 login-box-wrapper">
  				<div class="login-box">
  					<div class="title-box">
  						<h3 class="login-title">Log in to your account</h3>
  					</div>
  					<div class="col-xs-12" style="margin-top:-5px; margin-bottom:9px">
						<center><div style="color: #db2e2e; font-weight: bold; display:none" class="wrong-cred1">Wrong Email or Password</div></center>
					</div>
					<form class="loginForm1" method="post">
	  					<input type="text" class="text-input" name="email-login" placeholder="Email Id">
	  					<input type="password" class="text-input" name="pass-login" placeholder="Password">
	  					<a href="" class="fgt-pass" style="color: #fff; margin-top: 10px;">Forgot password?</a>
	  					<input type="submit" class="login-btn" value="Log in">
  					</form>
  				</div>
  			</div>
  		</div>
  	</div>
  	
  	<div class="container" style="height:1000px">
    <% include foot.ejs %>
  </body>
</html>